[submodule "计算机图形学"]
	path = 计算机图形学
	url = https://gitee.com/CPLASF000000/compute-graphics-notes.git
[submodule "01 Tools/Git"]
	path = 01 Tools/Git
	url = https://gitee.com/CPLASF000000/git-notes.git
[submodule "01 Tools/CMake"]
	path = 01 Tools/CMake
	url = https://gitee.com/CPLASF000000/cmake-notes.git
[submodule "00 编程语言(Program-Languages)/C++"]
	path = 00 编程语言(Program-Languages)/C++
	url = https://gitee.com/CPLASF000000/cpp-notes.git
[submodule "01 Tools/Colcon"]
	path = 01 Tools/Colcon
	url = https://gitee.com/CPLASF000000/colcon-notes.git
[submodule "3rdParty/Eigen"]
	path = 3rdParty/Eigen
	url = https://gitee.com/CPLASF000000/eigen-notes.git
[submodule "02 OperationSystem操作系统/Linux"]
	path = 02 OperationSystem操作系统/Linux
	url = https://gitee.com/CPLASF000000/linux-notes.git
[submodule "3rdParty/OpenCV"]
	path = 3rdParty/OpenCV
	url = https://gitee.com/CPLASF000000/open-cv-notes.git
[submodule "3rdParty/PCL"]
	path = 3rdParty/PCL
	url = https://gitee.com/CPLASF000000/pcl-notes.git
[submodule "3rdParty/OpenGL"]
	path = 3rdParty/OpenGL
	url = https://gitee.com/CPLASF000000/open-gl-notes.git
[submodule "00 编程语言(Program-Languages)/Java"]
	path = 00 编程语言(Program-Languages)/Java
	url = https://gitee.com/CPLASF000000/java-notes.git
[submodule "00 编程语言(Program-Languages)/Python"]
	path = 00 编程语言(Program-Languages)/Python
	url = https://gitee.com/CPLASF000000/python-notes.git
[submodule "3rdParty/ROS"]
	path = 3rdParty/ROS
	url = https://gitee.com/CPLASF000000/ros-note.git
[submodule "01 Tools/Cursor"]
	path = 01 Tools/Cursor
	url = https://gitee.com/CPLASF000000/cursor-notes.git
