[submodule "Git-Notes"]
	path = Git-Notes
	url = https://gitee.com/CPLASF000000/git-notes.git
[submodule "CMake"]
	path = CMake
	url = https://gitee.com/CPLASF000000/cmake-notes.git
[submodule "C++"]
	path = C++
	url = https://gitee.com/CPLASF000000/cpp-notes.git
[submodule "Linux"]
	path = Linux
	url = https://gitee.com/CPLASF000000/linux-notes.git
[submodule "Eigen-Learning"]
	path = Eigen-Learning
	url = https://gitee.com/CPLASF000000/eigen-notes.git
[submodule "OpenGL"]
	path = OpenGL
	url = https://gitee.com/CPLASF000000/open-gl-notes.git
[submodule "计算机图形学"]
	path = 计算机图形学
	url = https://gitee.com/CPLASF000000/compute-graphics-notes.git
[submodule "OpenCV-Learning"]
	path = OpenCV-Learning
	url = https://gitee.com/CPLASF000000/open-cv-notes.git
[submodule "Colcon"]
	path = Colcon
	url = https://gitee.com/CPLASF000000/colcon-notes.git
[submodule "PCL-Learning"]
	path = PCL-Learning
	url = https://gitee.com/CPLASF000000/pcl-notes.git
